In [8]:
import pandas as pd
from pathlib import Path

In [9]:
crime_per_state_path = "Data/Crime_data_per_state.csv"

In [12]:
crime_stats = pd.read_csv(crime_per_state_path)
crime_stats

                 Area Name  Year                 Variable  Value
0                 Colorado  2015   Violent Crimes Per 100    321
1                 Delaware  1990   Violent Crimes Per 100    655
2               California  1994   Violent Crimes Per 100   1013
3                 Delaware  2014  Property Crimes Per 100   2982
4                     Utah  2014  Property Crimes Per 100   2879
...                    ...   ...                      ...    ...
4126              New York  1991           Crimes Per 100   6245
4127  District of Columbia  2005           Crimes Per 100   6206
4128           Connecticut  1998           Crimes Per 100   3787
4129         New Hampshire  2009           Crimes Per 100   2321
4130              Michigan  2014           Crimes Per 100   2471

[4131 rows x 4 columns]

In [16]:
crime_stats_2016 = crime_stats[crime_stats['Year'] == 2016]
crime_stats_2016

          Area Name  Year                 Variable  Value
6          New York  2016  Property Crimes Per 100   1546
42        Minnesota  2016           Crimes Per 100   2376
44           Nevada  2016  Property Crimes Per 100   2587
45       New Mexico  2016  Property Crimes Per 100   3937
64    West Virginia  2016           Crimes Per 100   2405
...             ...   ...                      ...    ...
3980     California  2016   Violent Crimes Per 100    445
3982         Kansas  2016  Property Crimes Per 100   2696
4057       Missouri  2016   Violent Crimes Per 100    519
4094    Mississippi  2016           Crimes Per 100   3049
4120         Oregon  2016           Crimes Per 100   3229

[153 rows x 4 columns]

In [21]:
crime_stats_2016.rename(columns={'Area Name': 'State',
                   'Variable': 'Crime Type',
                    'Value': 'Total'},
          inplace=True)
crime_stats_2016

C:\Users\swire\AppData\Local\Temp\ipykernel_17048\3005385527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_stats_2016.rename(columns={'Area Name': 'State',

              State  Year               Crime Type  Total Number of Crimes
6          New York  2016  Property Crimes Per 100                    1546
42        Minnesota  2016           Crimes Per 100                    2376
44           Nevada  2016  Property Crimes Per 100                    2587
45       New Mexico  2016  Property Crimes Per 100                    3937
64    West Virginia  2016           Crimes Per 100                    2405
...             ...   ...                      ...                     ...
3980     California  2016   Violent Crimes Per 100                     445
3982         Kansas  2016  Property Crimes Per 100                    2696
4057       Missouri  2016   Violent Crimes Per 100                     519
4094    Mississippi  2016           Crimes Per 100                    3049
4120         Oregon  2016           Crimes Per 100                    3229

[153 rows x 4 columns]

In [25]:
crime_stats_2016_sorted = crime_stats_2016.sort_values(by=['State', 'Crime Type'], ascending=[True, True])
crime_stats_2016_sorted

          State  Year               Crime Type  Total Number of Crimes
569     Alabama  2016           Crimes Per 100                    3480
768     Alabama  2016  Property Crimes Per 100                    2948
728     Alabama  2016   Violent Crimes Per 100                     532
2204     Alaska  2016           Crimes Per 100                    4157
3707     Alaska  2016  Property Crimes Per 100                    3353
...         ...   ...                      ...                     ...
472   Wisconsin  2016  Property Crimes Per 100                    1933
2598  Wisconsin  2016   Violent Crimes Per 100                     306
2106    Wyoming  2016           Crimes Per 100                    2202
3212    Wyoming  2016  Property Crimes Per 100                    1957
1818    Wyoming  2016   Violent Crimes Per 100                     244

[153 rows x 4 columns]

In [27]:
crime_stats_2016_final = crime_stats_2016_sorted.drop(columns=['Year'])
crime_stats_2016_final

          State               Crime Type  Total Number of Crimes
569     Alabama           Crimes Per 100                    3480
768     Alabama  Property Crimes Per 100                    2948
728     Alabama   Violent Crimes Per 100                     532
2204     Alaska           Crimes Per 100                    4157
3707     Alaska  Property Crimes Per 100                    3353
...         ...                      ...                     ...
472   Wisconsin  Property Crimes Per 100                    1933
2598  Wisconsin   Violent Crimes Per 100                     306
2106    Wyoming           Crimes Per 100                    2202
3212    Wyoming  Property Crimes Per 100                    1957
1818    Wyoming   Violent Crimes Per 100                     244

[153 rows x 3 columns]

In [28]:
crime_stats_2016_final.to_csv('Data/Crime_stats_2016.csv', index=False)